<script>
function rel() {

    if (window.name != "any") {
        // alert("リロードしました");
        location.reload();
        window.name = "any";
    } else {
        window.name = "";
    }

    }
rel();
</script>
<% provide(:title, "About") %>
<h1><u>About</u></h1>

<p>
  音声の波形は<a href="https://www.wizard-notes.com/entry/javascript/wavesurfer-js">こちらのサイト</a>
  に載っているものを使用させていただきました。<a href="https://licenses.opensource.jp/BSD-3-Clause/BSD-3-Clause.html">
  使用させて頂いたコードのライセンスはこちら</a>
</p>

<p>サンプルBGMは<a href="https://dova-s.jp/bgm/download15445.html">こちらのサイト</a>からダウンロードさせていただきました。</p>
<p>イラストは<a href="https://storyset.com/online">Online illustrations by Storyset</a>を使用させていただきました。</p>