<script>
function rel() {

    if (window.name != "any") {
        // alert("リロードしました");
        location.reload();
        window.name = "any";
    } else {
        window.name = "";
    }

    }
rel();
</script>

<% provide(:title, "Help") %>
<h1><u>Help</u></h1>

<h2 id="blue">操作方法</h2>
<h3>基本は画面クリックで操作をします。なお、「区域ループ再生」は区域の右側をクリックすることでループから脱出できます。</h3>
<h3>・ctrl(コントロールキー) = スタート/ストップ ()<br>・←(左カーソルキー) = 3秒戻る <br>・→(右カーソルキー) = 3秒進む  </h3>

<h4><span class="red">(注意)</span>
万が一エラーが発生した場合は、お手数ですがページのリロード（画面左上の再読み込みをクリック）をお願い致します。<br>
<span class="red">また、稀にですが、保存したファイルが破損してエラーになってしまう場合がございます</span>。その際はお手数ですが、ブラウザの戻るボタンを押してマイページに
戻っていただき、音声ファイルを削除のうえ、再度音声ファイルの登録をお願いいたします。<br>
なお、どうしてもエラーが頻繫に発生してしまう場合は、マイページの「クイックモード」をご使用ください。</h4>
<div class="explain">
    <h2 id="blue">通常モード</h2>
    <h4>・「新しく音声を登録」をクリックすることで音声を登録出来ます。登録時に教科、内容、音声、答えを登録します。なお、答えは必須ではありません</h4>
    <h4>・最大５つまで音声を登録出来ます.音声ファイルは<u>5MB以下</u>のものにしてください。</h4>
    <h4>・音声を登録後、「Let`s start studying」をクリックすることで学習ページに飛ぶことが出来ます。</h4>
    <h4>・<u>画面遷移後に画面全体が真っ白になったり、表示がバグる可能性がございます。その際はお手数ですが、ページのリロードをお願い致します。</u></h4>
    <h4>・「edit」で内容を変更、「delete」で保存内容の削除ができます。</h4>
</div>

<div class="explain">
    <h2 id="blue">クイックモード</h2>
    <h4>・音声ファイルのサイズの制限は付けていません。</h4>
    <h4>・「クイックモード」をクリックすることでクイックモードをご使用いただけます。</h4>
    <h4>・このモードでは音声ファイルを登録するだけで、すぐにご使用いただけます。</h4>
    <h4>・なお、<u>音声ファイルは保存されない</u>ため、ページのリロードなどの際には再度ファイルを選択してください。</h4>
    <h4 >・<u>画面遷移後に表示がバグる可能性がございます。その際はお手数ですが、ページのリロードをお願い致します。</u></h4>
    <h4 class="red">・音声ファイルのサイズ制限は特に設けておりませんが、再生するのに<a href="http://www.xucker.jpn.org/pc/wavesurfer_tips.html">最大元データーの20倍ほどのメモリが必要</a><br>
    との情報がございました。そのため、最大でも200Mバイトまでのデータにすることを強くお勧め致します。</h4>
    <h4 class="red">・なお、万が一お使いのコンピュータにアップロードした音声ファイルのサイズが原因で不具合、故障が発生したとしても、私は一切の責任を負いません。気を付けてご使用ください。</h4>
</div>