
<canvas id="canvas"></canvas>
<script>
  var Canvas = document.getElementById('canvas');
var ctx = Canvas.getContext('2d');

var resize = function() {
    Canvas.width = Canvas.clientWidth;
    Canvas.height = Canvas.clientHeight;
};
window.addEventListener('resize', resize);
resize();

var elements = [];
var presets = {};

presets.o = function (x, y, s, dx, dy) {
    return {
        x: x,
        y: y,
        r: 12 * s,
        w: 5 * s,
        dx: dx,
        dy: dy,
        draw: function(ctx, t) {
            this.x += this.dx;
            this.y += this.dy;
            
            ctx.beginPath();
            ctx.arc(this.x + + Math.sin((50 + x + (t / 10)) / 100) * 3, this.y + + Math.sin((45 + x + (t / 10)) / 100) * 4, this.r, 0, 2 * Math.PI, false);
            ctx.lineWidth = this.w;
            ctx.strokeStyle = '#fff';
            ctx.stroke();
        }
    }
};

presets.x = function (x, y, s, dx, dy, dr, r) {
    r = r || 0;
    return {
        x: x,
        y: y,
        s: 20 * s,
        w: 5 * s,
        r: r,
        dx: dx,
        dy: dy,
        dr: dr,
        draw: function(ctx, t) {
            this.x += this.dx;
            this.y += this.dy;
            this.r += this.dr;
            
            var _this = this;
            var line = function(x, y, tx, ty, c, o) {
                o = o || 0;
                ctx.beginPath();
                ctx.moveTo(-o + ((_this.s / 2) * x), o + ((_this.s / 2) * y));
                ctx.lineTo(-o + ((_this.s / 2) * tx), o + ((_this.s / 2) * ty));
                ctx.lineWidth = _this.w;
                ctx.strokeStyle = c;
                ctx.stroke();
            };
            
            ctx.save();
            
            ctx.translate(this.x + Math.sin((x + (t / 10)) / 100) * 5, this.y + Math.sin((10 + x + (t / 10)) / 100) * 2);
            ctx.rotate(this.r * Math.PI / 180);
            
            line(-1, -1, 1, 1, '#fff');
            line(1, -1, -1, 1, '#fff');
            
            ctx.restore();
        }
    }
};

for(var x = 0; x < Canvas.width; x++) {
    for(var y = 0; y < Canvas.height; y++) {
        if(Math.round(Math.random() * 8000) == 1) {
            var s = ((Math.random() * 5) + 1) / 10;
            if(Math.round(Math.random()) == 1)
                elements.push(presets.o(x, y, s, 0, 0));
            else
                elements.push(presets.x(x, y, s, 0, 0, ((Math.random() * 3) - 1) / 10, (Math.random() * 360)));
        }
    }
}

setInterval(function() {
    ctx.clearRect(0, 0, Canvas.width, Canvas.height);

    var time = new Date().getTime();
    for (var e in elements)
    elements[e].draw(ctx, time);
}, 10);
</script>

<% if logged_in? %>
<script>
  window.onpageshow = function(event) {
    if (event.persisted) {
      window.location.reload();
    }
  };
</script>
  <% if flash.any? %>
    <% flash.each do |message_type, message| %>
    
      <div class="alert alert-danger" role="alert"><%= message %></div>
    
  <% end %>
<% end %>


  <div class="row">
    <aside class="col-md-6">
      <section class="dictum_user_info">
        <%= render 'shared/dictum_user_info' %>
      </section>
      <% if current_user.gogakus.count < 5%>
        <section class="gogaku_form">
          <%= link_to "新しい音声を登録(最大5つまで)", new_gogaku_path, class: "btn btn-success btn-lg glyphicon glyphicon-plus-sign"%>
        </section>
      <% else %>
          <%= link_to "新しい音声をこれ以上登録出来ません", "#" , class: "btn btn-success btn-lg glyphicon glyphicon-exclamation-sign"%>
      <% end %>
    </aside>
    <aside class="col-md-6">
      <section class="quick_backcolor" id="quick">
            <%= link_to "クイックモード", quick_path, class: "btn btn-primary btn-lg glyphicon glyphicon-time",data: { 'turbolinks': false }%>
      
            <h3>保存する必要がなかったり、エラーが頻発する際にお使いください。<br>音声ファイルを選択するだけでご使用いただけます。</h3>
      </section>
    </aside>
    <div class="container">
      <h3>登録されている音声(<%= current_user.gogakus.count %>)</h3>
      <%= render 'shared/feed' %>
      
    </div>

  </div>

<% else %>
  <div class="center jumbotron">
    
    <h2>自分で音声を設定できるディクテーションアプリ</h2>

    <h1 class="signboard">DICTUM</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      
    <%= link_to "Please try a sample!", demo_path, class: "btn btn-lg btn-info",data: { 'turbolinks': false } %>
  </div>

<div class="picture">
  <figure class="picture1"><img src="/assets/Translator-bro.svg" alt="image"></figure>
  <p class="side_text">自分で音声を設定できるので、<br>好きな言語で勉強できます</p>
</div>
<div class="picture">
  <p class="side_text">「Please try a sample!」をクリックすると、<br>サンプルを体験できます</p>
  <figure class="picture2"><img src="/assets/Internet Day-bro.svg" alt="image"></figure>
  
</div>
<% end %>
