<script src="https://unpkg.com/wavesurfer.js@6.0.4/dist/wavesurfer.js" type="text/javascript"></script>
<%# <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script> %>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js" type="text/javascript"></script>

<h1><u>操作方法</u></h1>
<div class="how-to-play">
    <h4>基本は画面クリックで操作をします。なお、「区域ループ再生」は区域の右側をクリックすることでループから脱出できます。</h4>
    <h4>・ctrl(コントロールキー) = スタート/ストップ ()<br>・←(左カーソルキー) = 3秒戻る <br>・→(右カーソルキー) = 3秒進む  </h4>
</div>
<%# <h5>(注意)保存された音声ファイルが大きかったり、ブラウザの戻るボタンを押した場合にエラーが発生する場合がございます。<br>
可能な限り、ブラウザの戻るボタンではなく、ページ左下の「マイページへ戻る」をご使用ください。
万が一エラーが発生した場合は、お手数ですがページのリロードをお願い致します。
</h5> %>
 <input id="audio_file" type="file" accept="audio/*" />

    <div id="waveform"> </div>

    <div style="text-align: center">
        
        <p class="row">
            <div class="col-xs-1">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </div>

            <div class="col-xs-10">
                <input id="slider" type="range" min="1" max="200" value="1" style="width: 100%" />
            </div>

            <div class="col-xs-1">
                <i class="glyphicon glyphicon-zoom-out"></i>
            </div>
        </p>
    </div>

<div class="container" style="text-align: center">
    <div class="controls" >
        <span>
            <button class="btn btn-primary col-sm-2" onclick="wavesurfer.skipBackward(5)"><i class="fa fa-step-backward"></i>5秒戻る</button>
            <button class="btn btn-primary col-sm-2" onclick="wavesurfer.playPause()"><i class="fa fa-play"></i>スタート/<i class="fa fa-pause"></i>ストップ</button>
            <button class="btn btn-primary col-sm-2" onclick="wavesurfer.skipForward(5)"><i class="fa fa-step-forward"></i>5秒進む</button>
            <select id="controller" class="btn btn-primary col-sm-2">
                <option type="button" value="0.5">0.5</option>
                <option type="button" value="0.75">0.75</option>
                <option type="button" value="1.0" selected>1.0</option>
                <option type="button" value="1.25">1.25</option>
                <option type="button" value="1.5">1.5</option>     
                <option type="button" value="1.75">1.75</option>
                <option type="button" value="2.0">2.0</option>
            </select>
            <button class="btn btn-primary col-sm-2" id="loop">区域ループ再生</button>
           
        </span>
    </div>
</div>

<script>
    var wavesurfer = WaveSurfer.create({
            barRadius: 3,
            cursorWidth: 1,
            height: 230,barMinHeight: 1,
            barGap: 1,
            container: '#waveform',
            waveColor: 'gray',
            progressColor: 'orange',
            scrollParent: true,
            backend: 'MediaElementWebAudio',
            plugins: [
                WaveSurfer.regions.create({
               
                    regions: [
                        {
                            start: 5,
                            end: 7,
                            loop: false,
                            color: 'hsla(200, 50%, 70%, 0.4)',
                        }
                    ],
           
                })
            ]
    });

audio_file.onchange = function () {
    let files = this.files;
    let file = URL.createObjectURL(files[0]);

    var slider = document.querySelector('#slider');

    slider.oninput = function () {
        var zoomLevel = Number(slider.value);
        wavesurfer.zoom(zoomLevel);
    };
    // wavesurfer.load(file);

    const corsAudio = new Audio(file);
    corsAudio.crossOrigin = true;
    
    wavesurfer.load(corsAudio);

};

wavesurfer.on('ready', () => {
        console.log('ready');
        });
    
        wavesurfer.on('error', () => {
        console.log(Callback);
        });

        function playPause() {
        wavesurfer.playPause();
    }
    
let speed = document.getElementById('controller');

    speed.addEventListener('change', function() {
        let idx = speed.selectedIndex;
        let specon = speed.options[idx].text; 
        console.log(specon);  
        function playbackRate() {
            switch (specon) {
                case 0.5:
                    rate = specon 
                    wavesurfer.setPlaybackRate(rate);
                     console.log(specon);  
                    break;
                case 0.75:
                    rate = specon 
                    wavesurfer.setPlaybackRate(rate);
                    console.log(specon);  
                    break;
                case 1.25:
                    rate = specon 
                    wavesurfer.setPlaybackRate(rate);
                     console.log(specon);  
                    break;
                case 1.5:
                    rate = specon 
                    wavesurfer.setPlaybackRate(rate);
                     console.log(specon);  
                    break;
                case 1.75:
                    rate = specon 
                    wavesurfer.setPlaybackRate(rate);
                     console.log(specon);  
                    break;
                case 2.0:
                    rate = specon 
                    wavesurfer.setPlaybackRate(rate);
                     console.log(specon);  
                    break;
                default:
                    rate = specon 
                    wavesurfer.setPlaybackRate(rate);
                     console.log(specon);  
                    break;
            }
    }
    playbackRate();
    })
           
document.addEventListener('keydown', keydown_ivent);

    function keydown_ivent(e) {
	
	let key = '';
	switch (e.key) {
        case 'Control':
			wavesurfer.playPause();
			break;
		case 'ArrowLeft':
			wavesurfer.skipBackward(3);
			break;
		case 'ArrowRight':
            wavesurfer.skipForward(3);
			break;
	}
	return false;
}

    let l = document.getElementById('loop');
    l.addEventListener('click', function() {
        let region = Object.values(wavesurfer.regions.list)[0];
        region.playLoop();
    });

</script>

<textarea rows="10" cols="50" placeholder="ここに文字を入力出来ます" class="box"></textarea>
<%= link_to "マイページへ戻る", root_url, class:"btn btn-link" %>

<script>
    function rel() {

        if (window.name != "any") {
            // alert("リロードしました");
            location.reload();
            window.name = "any";
        } else {
            window.name = "";
        }

        }
    // rel();
</script>