<% provide(:title, "Log in") %>
<h1>Log in</h1>

<% if flash.any? %>
    <% flash.each do |message_type, message| %>
    
      <div class="alert alert-danger" role="alert"><%= message %></div>
    
  <% end %>
<% end %>
  
<div class="row">
  <div class="col-md-6 col-md-offset-3" id="f_login">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in!", class: "btn btn-primary"%>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
