<%= link_to gravatar_for(current_user), root_url %>
<h1><%= current_user.name %></h1>
<%# <span><%= link_to "view my profile", current_user</span>  %>
<span><%= pluralize(current_user.gogakus.count, "file") %></span>
