<%= form_with(model: @gogaku) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :subject, placeholder: "Compose new micropost..." %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Compose new micropost..." %>
  </div>
  <%# #追加 local 変更%>


  <div class="field">
    <%= f.file_field :file, :size => 140 %>
  </div>

  <div class="field">
    <%= f.text_area :answer, placeholder: "Compose new micropost..." %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
