<li>
    <%= gravatar_for dictum_user, size: 50 %>
    <%= link_to dictum_user.name, root_url %>
    <% if current_user.admin? && !current_user?(dictum_user) %>
        | <%= link_to "delete", dictum_user, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
</li>
