<% provide(:title, @dictum_user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @dictum_user %>
                <%= @dictum_user.name %>
            </h1>
        </section>
    </aside>
    
    <div class="col-md-8">
    <% if @dictum_user.gogakus.any? %>
      <h3>Gogakus (<%= @dictum_user.gogakus.count %>)</h3>
      <ol class="gogakus">
        <%= render @gogakus %>
      </ol>
      <%= will_paginate @gogakus %>
    <% end %>
  </div>
</div>
