<div class="gogakus-frame">
<li id="gogaku-<%= gogaku.id %>">
    <%= link_to gravatar_for(gogaku.dictum_user), root_url %>
<span class="dictum_user"><%= link_to gogaku.dictum_user.name, root_path %></span>
    <span class="subject"><%= gogaku.subject %></span>
    <span class="body"><%= gogaku.body %></span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(gogaku.created_at) %> ago.
        <% if current_user?(gogaku.dictum_user) %>
           
        <% end %>
    </span>
    
    <div class="text-right">
        <%= link_to "Let's start studying!", gogaku_path(gogaku.id) ,class:"btn btn-lg btn-info glyphicon glyphicon-headphones", data: { 'turbolinks': false }%>
        <%= link_to "edit", edit_gogaku_path(gogaku.id) ,class:"btn btn-lg btn-warning glyphicon glyphicon-pencil" %>
        <%= link_to "delete", gogaku, method: :delete,class:"btn btn-lg btn-danger glyphicon glyphicon-trash",
                                            data: { confirm: "You sure?" } %>
        
    </div>
</li>
</div>