<h1>教科書編集</h1>

<% if flash.any? %>
    <% flash.each do |message_type, messages| %>
        <% messages.each do |message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
    <% end %>   
<% end %>

<%= form_with model: @gogaku,  method:"patch" do |f| %>

    <div class = "form-group">
        <label>教科</label>
        <%= f.text_field :subject, class:"form-control"%>
    </div>

    <div class = "form-group">
        <label>内容</label>
        <%= f.text_field :body, class: "form-control" %>
    </div>

    <div class = "form-group">
        <label>音声</label>
        <%= f.file_field :file, class:"form-control" %>
    </div>

    <div class = "form-group">
        <label>答え</label>
        <%= f.text_field :answer, class:"form-control"%>
    </div>

    <%= f.submit "更新" ,class:"btn btn-primary" %>
    <%= link_to "戻る",root_url, class:"btn btn-info" %>
<% end %>
