

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="dictum_user_info">
        <%= render 'shared/dictum_user_info' %>
      </section>
      <section class="gogaku_form">
        <%= link_to "新しい音声を登録", new_gogaku_path, class: "btn btn-success btn-lg"%>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>登録されている音声(<%= current_user.gogakus.count %>)</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>

<% else %>
<div class="center jumbotron">
  <h1>Welcome to the DICTUM</h1>

  <h2>
    This is the home page for the
    <a href="#">DICTUM</a>
    .
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%# 
<%= link_to image_tag("/assets/matt-ragland-02z1I7gv4ao-unsplash.jpg", alt: "logo", width: "200px"),
                      "#" %> 
<% end %>
