<h1>教材登録</h1>

<% if flash.any? %>
    <% flash.each do |message_type, messages| %>
        <% messages.each do |message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
    <% end %>   
<% end %>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<%= form_with model: @gogaku do |f| %>
<%# ,name: "GogakuForm",id:"G_id" %>


    <div class = "form-group">
        <label>教科</label>
        <%= f.text_field :subject, class:"form-control",placeholder:"例：英語"%>
    </div>

    <div class = "form-group">
        <label>内容</label>
        <%= f.text_field :body, class:"form-control",placeholder:"例：旅行先での英会話１"%>
    </div>

    <div class = "form-group">
        <label>音声</label>
        <span class="file">
            <%= f.file_field :file,accept:"audio/*",class:"form-control" %>
            <%# <script>
                const maxFileSize=5242880 //アップロードできる最大サイズを指定(1048576=1MB)
                $("input[type=file]").change(function(){ //ファイルがアップロードされたら
                    $(".error_msg").remove() //エラーメッセージ削除
                    let uploaded_file=$(this).prop('files')[0]; //アップロードファイル取得
                    if(maxFileSize < uploaded_file.size){ //もし上限値を超えた場合
                        $(this).val("") //画像を空にする
                        $(this).after("<p class='error_msg'>アップロードできる画像の最大サイズは5MBです</p>") //エラーメッセージ表示
                    }
                })
            </script> ,name:"image[]" %>
        </span>
    </div>
<%# ,id:"audio_file", type:"file" ,accept:"audio/*", name:"title" %>

    <div class = "form-group">
        <label>答え</label>
        <%= f.text_field :answer, class:"form-control",placeholder:"答えは入力しなくても保存可能です"%>
    </div>

<% if current_user.gogakus.count < 5 %>
    <%= f.submit"登録",class:"btn btn-danger"%>
<% else %>
    <h2>これ以上音声を登録出来ません。今ある音声を削除すれば新しく登録出来ます。</h2>
<% end %>

    <%= link_to "戻る", root_url ,class:"btn btn-info"%>
       
<% end %>
<%# <form name="demoForm">
        <div>
            <label for="title-id">タイトル</label>
            <input id="audio_filee" type="file" accept="audio/*" name="title" >
        </div>
    </form> %>
<script type="text/javascript">
  $("#gogaku_file").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#gogaku_file").val("");
    }
  });
</script>