// Place all the styles related to the DictumUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.red {
    color: red;
  }
#blue {
    color: blue;
  }
.explain {
  border: double 5px #4ec4d3;
  margin: 2em 0;
}

 .quick_backcolor {
     background-color: rgb(222, 255, 203)
 }

//  html, body {
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     height: 100%;
//     // overflow: hidden;
//   }
  
#canvas {
  width: 100%;
  height: 100%;
  background: #55ebff;
}

.signboard {
  // font-family: Impact,Charcoal;
  font-family: "MS 明朝",serif;
  font-weight: bold;
  padding: 0 0 25px 0 ;
  // font-size: 40px;

}
.picture {
  display: flex; /*横並び*/
}
.picture1 {
  // width: 640px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 0 auto 0;
  // display: inline-block;
  // align-items: center;
  // justify-content: space-between;
}
.picture2 {
  // width: 640px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 0 0 auto;
  // display: inline-block;
  
  // justify-content: space-between;
}

.side_text {
  margin: auto;
  padding: 0;
  font-size: 191%;
  font-family: "MS 明朝",serif;
  padding: 1em;
// margin: 2em auto;
// width:100%;
  color: #07090E;
  background: #e0e5ff;
  border-left: solid 15px #A7F1AF;
  // padding: 0.5em 1em;
  //   // margin: 2em 0;
  //   border: double 5px #4ec4d3;
  // display: inline-block;
  // width: 700px;
  // vertical-align: top;
}

.gogakus-frame {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}
