<footer class="footer">
  <small>
    ディクテーションアプリ　DICTUM
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>
